<div class="container">
  <div class="row">
    <div class="header centered">
        <img src="../../Images/header.png" width="900" height="300" alt="header"/>
    </div>
  </div>
  <div class="row">
    <div class="navbar navbar-light bg-lights centered">
        <a class="navbar-brand" href="#">MENU</a>
        <a class="navbar-brand" href="#">CATERING</a>
        <a class="navbar-brand" href="#">ABOUT US</a>
        <a class="navbar-brand" href="#">CONTACT</a>
    </div>
  </div>
    <div class="row">
    <div class="intro centered">
        <img src="../../Images/intro.png" width="900" height="400" alt="Dirty Dogs serves all-beef, vegan and vegatagian hot dogs."/>
    </div>
    </div>
  <div class="row">
    <div class="centered item">
      <img src="../../Images/beefText.png" width="450" height="300" alt="beef_text"/>
      <img src="../../Images/beefImage.png" width="450" height="300" alt="beef_image"/>
    </div>
  </div>
  <div class="row">
    <div class="item centered">
        <img src="../../Images/veganImage.png" width="450" height="300" alt="vegan_image"/>
        <img src="../../Images/veganText.png" width="450" height="300" alt="vegan_text"/>
    </div>
  </div>
  <div class="row">
    <div class="item centered">
      <img src="../../Images/vegetarianText.png" width="450" height="300" alt="vegetarian_text"/>
      <img src="../../Images/vegetarianImage.png" width="450" height="300" alt="vegetarian_image"/>
    </div>
  </div>
   <div class="row">
    <div class="footer centered">
      <img src="../../Images/footer.png" width="900" height="50" alt="footer"/>
    </div>
   </div>
</div>